

.toolbar {
    display: flex;
    align-items:  center;
    justify-content: space-between;
    padding: 0 24px;
}

.navbar {
    width: 350px;
    background-color: coral;
    padding: 24px;
}

.feed {
    background: white;
    width: 100%;
    padding: 24px
}